.main-button {
  display: block;
  padding: 0.5rem 1.5rem;
  font-family: var(--secondary-font);
  font-size: 1rem;
  border: none;
  border-radius: 12px;
  color: var(--white);

  &:hover {
    cursor: pointer;
  }
}
