.us-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 70vw;

  img {
    max-width: 50%;
    padding-inline-end: 2rem;
  }

  .us-info {
    text-align: start;

    p {
      font-size: 1.1rem;
    }
  }
}
