.history-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin: 0 auto;
  max-width: 60vw;

  .history-info-container {
    display: flex;
    gap: 5rem;

    .history-info {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      .history-paragraph {
        text-align: start;

        h3 {
          margin-block-end: 1rem;
          color: var(--pink);
          font-size: 1.5rem;
          font-weight: 700;

          span {
            display: block;
            color: var(--black);
          }
        }
      }
    }
  }
}
